{% extends 'base.html.twig' %}

{% block header %}
{% endblock %}

{% block main %}
  <main role="main">

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1>Your Feed - {{site_base_title}}</h1>
        <p>{{currentUser.firstName}} {{currentUser.lastName}}</p>
      </div>
    </div>

    <div class="container-fluid">

      <div class="row">
        <section class="col-xs-12 col-sm-6 col-md-4 col-lg-3" id="sidebar">
          <section id="friends" class="friends row">
            <h2>Your friends</h2>
            {% for friend in friends %}
            <div class="col-sm-6 col-lg-4 friend">
              <h2 class="friend">  {{friend.firstName}} {{friend.lastName}}</h2>
              <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
            </div>
            {% endfor %}
          </section>
          <section id="findFriends" class="friends row">
            <h2>Find New Friends</h2>
            {% for user in users %}
              {% if user.id != currentUser.id %}
              <div class="col-sm-6 col-lg-4 friend">
                <h2 class="friend">  {{user.firstName}} {{user.lastName}}</h2>
                <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
              </div>
              {% endif %}
            {% endfor %}
          </section>
        </section>

        <section class="col-xs-12 col-sm-6 col-md-8 col-lg-9">
          Posts will go there
        </section>
      </div>

  
    </div> <!-- /container -->

  </main>
{% endblock %}

{% block footer %}
{% endblock %}
