{% extends 'base.html.twig' %}

{% block header %}
  <h1>Page - {{site_base_title}}</h1>
{% endblock %}

{% block main %}
  <p>My first page</p>
  {{user.firstName}} {{user.lastName}}

  <p>Your friends are :<br>
    {% for friend in friends %}
    {{friend.firstName}} {{friend.lastName}}
    {% endfor %}
  </p>
{% endblock %}

{% block footer %}
  <footer>Credits & copyright</footer>
{% endblock %}
