{% extends 'base.html.twig' %}

{% block header %}
{% endblock %}

{% block main %}
  <main role="main">

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1>Your Feed - {{site_base_title}}</h1>
        <p>{{currentUser.firstName}} {{currentUser.lastName}}</p>
      </div>
    </div>

    <div class="container-fluid">

      <div class="row">

        <h2>{{user.firstName}} {{user.lastName}}</h2>
        <ul>
          {{user.email}}
        </ul>

      </div>

    </div> <!-- /container -->

  </main>
{% endblock %}

{% block footer %}
{% endblock %}
